# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
.dockerignore

# =========================
# Publish
# =========================
*.publish.xml
*.pubxml
*.azurepubxml